<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnemyInfoList</key>
	<array>
		<array>
			<dict>
				<key>hp</key>
				<integer>50</integer>
				<key>power</key>
				<integer>1</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>hp</key>
				<integer>100</integer>
				<key>power</key>
				<integer>10</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>hp</key>
				<integer>0</integer>
				<key>power</key>
				<integer>0</integer>
				<key>speed</key>
				<integer>1</integer>
				<key>money</key>
				<integer>10</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
