<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SkillInfoList</key>
	<dict>
		<key>StoneInfoList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>damage</key>
				<integer>25</integer>
				<key>spriteName</key>
				<string>stone_biggest.png</string>
				<key>mp</key>
				<integer>5</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>5</integer>
				<key>price</key>
				<integer>2000</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>damage</key>
				<integer>1</integer>
				<key>spriteName</key>
				<string>stone_small.png</string>
				<key>mp</key>
				<integer>10</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>1500</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>damage</key>
				<integer>2</integer>
				<key>spriteName</key>
				<string>stone_small.png</string>
				<key>mp</key>
				<integer>15</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>2000</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>damage</key>
				<integer>3</integer>
				<key>spriteName</key>
				<string>stone_small.png</string>
				<key>mp</key>
				<integer>20</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>2500</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>damage</key>
				<integer>4</integer>
				<key>spriteName</key>
				<string>stone_small.png</string>
				<key>mp</key>
				<integer>25</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>3000</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>damage</key>
				<integer>5</integer>
				<key>spriteName</key>
				<string>stone_small.png</string>
				<key>mp</key>
				<integer>30</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>3500</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>damage</key>
				<integer>6</integer>
				<key>spriteName</key>
				<string>stone_middle.png</string>
				<key>mp</key>
				<integer>35</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>4000</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>damage</key>
				<integer>7</integer>
				<key>spriteName</key>
				<string>stone_middle.png</string>
				<key>mp</key>
				<integer>40</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>4500</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>damage</key>
				<integer>8</integer>
				<key>spriteName</key>
				<string>stone_middle.png</string>
				<key>mp</key>
				<integer>45</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>5000</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>damage</key>
				<integer>9</integer>
				<key>spriteName</key>
				<string>stone_middle.png</string>
				<key>mp</key>
				<integer>50</integer>
				<key>effect</key>
				<false/>
				<key>effectPower</key>
				<integer>0</integer>
				<key>price</key>
				<integer>10000</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>damage</key>
				<integer>10</integer>
				<key>spriteName</key>
				<string>stone_middle.png</string>
				<key>mp</key>
				<integer>55</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>1</integer>
				<key>price</key>
				<integer>11000</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>damage</key>
				<integer>11</integer>
				<key>spriteName</key>
				<string>stone_big.png</string>
				<key>mp</key>
				<integer>60</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>2</integer>
				<key>price</key>
				<integer>12000</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>damage</key>
				<integer>12</integer>
				<key>spriteName</key>
				<string>stone_big.png</string>
				<key>mp</key>
				<integer>65</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>3</integer>
				<key>price</key>
				<integer>13000</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>damage</key>
				<integer>13</integer>
				<key>spriteName</key>
				<string>stone_big.png</string>
				<key>mp</key>
				<integer>70</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>4</integer>
				<key>price</key>
				<integer>14000</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>damage</key>
				<integer>14</integer>
				<key>spriteName</key>
				<string>stone_big.png</string>
				<key>mp</key>
				<integer>75</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>5</integer>
				<key>price</key>
				<integer>15000</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>damage</key>
				<integer>15</integer>
				<key>spriteName</key>
				<string>stone_big.png</string>
				<key>mp</key>
				<integer>80</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>6</integer>
				<key>price</key>
				<integer>16000</integer>
			</dict>
			<key>16</key>
			<dict>
				<key>damage</key>
				<integer>16</integer>
				<key>spriteName</key>
				<string>stone_biggest.png</string>
				<key>mp</key>
				<integer>85</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>7</integer>
				<key>price</key>
				<integer>17000</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>damage</key>
				<integer>17</integer>
				<key>spriteName</key>
				<string>stone_biggest.png</string>
				<key>mp</key>
				<integer>90</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>8</integer>
				<key>price</key>
				<integer>18000</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>damage</key>
				<integer>18</integer>
				<key>spriteName</key>
				<string>stone_biggest.png</string>
				<key>mp</key>
				<integer>95</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>9</integer>
				<key>price</key>
				<integer>19000</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>damage</key>
				<integer>19</integer>
				<key>spriteName</key>
				<string>stone_biggest.png</string>
				<key>mp</key>
				<integer>100</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>10</integer>
				<key>price</key>
				<integer>20000</integer>
			</dict>
			<key>20</key>
			<dict>
				<key>damage</key>
				<integer>25</integer>
				<key>spriteName</key>
				<string>stone_biggest.png</string>
				<key>mp</key>
				<integer>100</integer>
				<key>effect</key>
				<true/>
				<key>effectPower</key>
				<integer>10</integer>
				<key>price</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>ArrowInfoList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>damage</key>
				<integer>50</integer>
				<key>mp</key>
				<integer>5</integer>
				<key>number</key>
				<integer>20</integer>
				<key>price</key>
				<integer>500</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>damage</key>
				<integer>1</integer>
				<key>mp</key>
				<integer>10</integer>
				<key>number</key>
				<integer>5</integer>
				<key>price</key>
				<integer>1000</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>damage</key>
				<integer>2</integer>
				<key>mp</key>
				<integer>10</integer>
				<key>number</key>
				<integer>5</integer>
				<key>price</key>
				<integer>1500</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>damage</key>
				<integer>3</integer>
				<key>mp</key>
				<integer>15</integer>
				<key>number</key>
				<integer>5</integer>
				<key>price</key>
				<integer>2000</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>damage</key>
				<integer>4</integer>
				<key>mp</key>
				<integer>15</integer>
				<key>number</key>
				<integer>5</integer>
				<key>price</key>
				<integer>2500</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>damage</key>
				<integer>5</integer>
				<key>mp</key>
				<integer>20</integer>
				<key>number</key>
				<integer>5</integer>
				<key>price</key>
				<integer>3000</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>damage</key>
				<integer>6</integer>
				<key>mp</key>
				<integer>20</integer>
				<key>number</key>
				<integer>7</integer>
				<key>price</key>
				<integer>3500</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>damage</key>
				<integer>7</integer>
				<key>mp</key>
				<integer>25</integer>
				<key>number</key>
				<integer>7</integer>
				<key>price</key>
				<integer>4000</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>damage</key>
				<integer>8</integer>
				<key>mp</key>
				<integer>25</integer>
				<key>number</key>
				<integer>7</integer>
				<key>price</key>
				<integer>4500</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>damage</key>
				<integer>9</integer>
				<key>mp</key>
				<integer>30</integer>
				<key>number</key>
				<integer>7</integer>
				<key>price</key>
				<integer>5000</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>damage</key>
				<integer>10</integer>
				<key>mp</key>
				<integer>30</integer>
				<key>number</key>
				<integer>7</integer>
				<key>price</key>
				<integer>5500</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>damage</key>
				<integer>11</integer>
				<key>mp</key>
				<integer>35</integer>
				<key>number</key>
				<integer>9</integer>
				<key>price</key>
				<integer>6000</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>damage</key>
				<integer>12</integer>
				<key>mp</key>
				<integer>35</integer>
				<key>number</key>
				<integer>9</integer>
				<key>price</key>
				<integer>6500</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>damage</key>
				<integer>13</integer>
				<key>mp</key>
				<integer>40</integer>
				<key>number</key>
				<integer>9</integer>
				<key>price</key>
				<integer>7000</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>damage</key>
				<integer>14</integer>
				<key>mp</key>
				<integer>40</integer>
				<key>number</key>
				<integer>9</integer>
				<key>price</key>
				<integer>7500</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>damage</key>
				<integer>15</integer>
				<key>mp</key>
				<integer>45</integer>
				<key>number</key>
				<integer>9</integer>
				<key>price</key>
				<integer>8000</integer>
			</dict>
			<key>16</key>
			<dict>
				<key>damage</key>
				<integer>16</integer>
				<key>mp</key>
				<integer>45</integer>
				<key>number</key>
				<integer>11</integer>
				<key>price</key>
				<integer>8500</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>damage</key>
				<integer>17</integer>
				<key>mp</key>
				<integer>50</integer>
				<key>number</key>
				<integer>11</integer>
				<key>price</key>
				<integer>9000</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>damage</key>
				<integer>18</integer>
				<key>mp</key>
				<integer>50</integer>
				<key>number</key>
				<integer>11</integer>
				<key>price</key>
				<integer>9500</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>damage</key>
				<integer>19</integer>
				<key>mp</key>
				<integer>55</integer>
				<key>number</key>
				<integer>11</integer>
				<key>price</key>
				<integer>10000</integer>
			</dict>
			<key>20</key>
			<dict>
				<key>damage</key>
				<integer>20</integer>
				<key>mp</key>
				<integer>60</integer>
				<key>number</key>
				<integer>15</integer>
				<key>price</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>HealInfoList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>mp</key>
				<integer>10</integer>
				<key>hp</key>
				<integer>10</integer>
				<key>price</key>
				<integer>3000</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>mp</key>
				<integer>20</integer>
				<key>hp</key>
				<integer>25</integer>
				<key>price</key>
				<integer>2000</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>mp</key>
				<integer>30</integer>
				<key>hp</key>
				<integer>40</integer>
				<key>price</key>
				<integer>2500</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>mp</key>
				<integer>40</integer>
				<key>hp</key>
				<integer>60</integer>
				<key>price</key>
				<integer>3000</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>mp</key>
				<integer>50</integer>
				<key>hp</key>
				<integer>80</integer>
				<key>price</key>
				<integer>3500</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>mp</key>
				<integer>60</integer>
				<key>hp</key>
				<integer>100</integer>
				<key>price</key>
				<integer>4000</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>mp</key>
				<integer>70</integer>
				<key>hp</key>
				<integer>120</integer>
				<key>price</key>
				<integer>4500</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>mp</key>
				<integer>80</integer>
				<key>hp</key>
				<integer>140</integer>
				<key>price</key>
				<integer>5000</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>mp</key>
				<integer>90</integer>
				<key>hp</key>
				<integer>160</integer>
				<key>price</key>
				<integer>5500</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>180</integer>
				<key>price</key>
				<integer>6000</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>200</integer>
				<key>price</key>
				<integer>6500</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>220</integer>
				<key>price</key>
				<integer>7000</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>240</integer>
				<key>price</key>
				<integer>7500</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>260</integer>
				<key>price</key>
				<integer>8000</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>280</integer>
				<key>price</key>
				<integer>8500</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>300</integer>
				<key>price</key>
				<integer>9000</integer>
			</dict>
			<key>16</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>320</integer>
				<key>price</key>
				<integer>9500</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>340</integer>
				<key>price</key>
				<integer>10000</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>360</integer>
				<key>price</key>
				<integer>11000</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>380</integer>
				<key>price</key>
				<integer>12000</integer>
			</dict>
			<key>20</key>
			<dict>
				<key>mp</key>
				<integer>100</integer>
				<key>hp</key>
				<integer>400</integer>
				<key>price</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>EarthInfoList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>damage</key>
				<integer>10</integer>
				<key>effectPower</key>
				<integer>4</integer>
				<key>mp</key>
				<integer>5</integer>
				<key>price</key>
				<integer>5000</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>damage</key>
				<integer>10</integer>
				<key>effectPower</key>
				<integer>1</integer>
				<key>mp</key>
				<integer>100</integer>
				<key>price</key>
				<integer>5000</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>damage</key>
				<integer>11</integer>
				<key>effectPower</key>
				<integer>2</integer>
				<key>mp</key>
				<integer>100</integer>
				<key>price</key>
				<integer>6000</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>damage</key>
				<integer>12</integer>
				<key>effectPower</key>
				<integer>3</integer>
				<key>mp</key>
				<integer>100</integer>
				<key>price</key>
				<integer>7000</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>damage</key>
				<integer>13</integer>
				<key>effectPower</key>
				<integer>4</integer>
				<key>mp</key>
				<integer>100</integer>
				<key>price</key>
				<integer>8000</integer>
			</dict>
			<key>5</key>
			<dict>
				<key>damage</key>
				<integer>14</integer>
				<key>effectPower</key>
				<integer>5</integer>
				<key>mp</key>
				<integer>100</integer>
				<key>price</key>
				<integer>9000</integer>
			</dict>
			<key>6</key>
			<dict>
				<key>damage</key>
				<integer>15</integer>
				<key>effectPower</key>
				<integer>6</integer>
				<key>mp</key>
				<integer>120</integer>
				<key>price</key>
				<integer>10000</integer>
			</dict>
			<key>7</key>
			<dict>
				<key>damage</key>
				<integer>16</integer>
				<key>effectPower</key>
				<integer>7</integer>
				<key>mp</key>
				<integer>120</integer>
				<key>price</key>
				<integer>11000</integer>
			</dict>
			<key>8</key>
			<dict>
				<key>damage</key>
				<integer>17</integer>
				<key>effectPower</key>
				<integer>8</integer>
				<key>mp</key>
				<integer>120</integer>
				<key>price</key>
				<integer>12000</integer>
			</dict>
			<key>9</key>
			<dict>
				<key>damage</key>
				<integer>18</integer>
				<key>effectPower</key>
				<integer>9</integer>
				<key>mp</key>
				<integer>120</integer>
				<key>price</key>
				<integer>13000</integer>
			</dict>
			<key>10</key>
			<dict>
				<key>damage</key>
				<integer>19</integer>
				<key>effectPower</key>
				<integer>10</integer>
				<key>mp</key>
				<integer>120</integer>
				<key>price</key>
				<integer>14000</integer>
			</dict>
			<key>11</key>
			<dict>
				<key>damage</key>
				<integer>20</integer>
				<key>effectPower</key>
				<integer>11</integer>
				<key>mp</key>
				<integer>150</integer>
				<key>price</key>
				<integer>15000</integer>
			</dict>
			<key>12</key>
			<dict>
				<key>damage</key>
				<integer>21</integer>
				<key>effectPower</key>
				<integer>12</integer>
				<key>mp</key>
				<integer>150</integer>
				<key>price</key>
				<integer>16000</integer>
			</dict>
			<key>13</key>
			<dict>
				<key>damage</key>
				<integer>22</integer>
				<key>effectPower</key>
				<integer>13</integer>
				<key>mp</key>
				<integer>150</integer>
				<key>price</key>
				<integer>17000</integer>
			</dict>
			<key>14</key>
			<dict>
				<key>damage</key>
				<integer>23</integer>
				<key>effectPower</key>
				<integer>14</integer>
				<key>mp</key>
				<integer>150</integer>
				<key>price</key>
				<integer>18000</integer>
			</dict>
			<key>15</key>
			<dict>
				<key>damage</key>
				<integer>24</integer>
				<key>effectPower</key>
				<integer>15</integer>
				<key>mp</key>
				<integer>150</integer>
				<key>price</key>
				<integer>19000</integer>
			</dict>
			<key>16</key>
			<dict>
				<key>damage</key>
				<integer>25</integer>
				<key>effectPower</key>
				<integer>16</integer>
				<key>mp</key>
				<integer>200</integer>
				<key>price</key>
				<integer>20000</integer>
			</dict>
			<key>17</key>
			<dict>
				<key>damage</key>
				<integer>26</integer>
				<key>effectPower</key>
				<integer>17</integer>
				<key>mp</key>
				<integer>200</integer>
				<key>price</key>
				<integer>21000</integer>
			</dict>
			<key>18</key>
			<dict>
				<key>damage</key>
				<integer>27</integer>
				<key>effectPower</key>
				<integer>18</integer>
				<key>mp</key>
				<integer>200</integer>
				<key>price</key>
				<integer>22000</integer>
			</dict>
			<key>19</key>
			<dict>
				<key>damage</key>
				<integer>28</integer>
				<key>effectPower</key>
				<integer>19</integer>
				<key>mp</key>
				<integer>200</integer>
				<key>price</key>
				<integer>25000</integer>
			</dict>
			<key>20</key>
			<dict>
				<key>damage</key>
				<integer>30</integer>
				<key>effectPower</key>
				<integer>20</integer>
				<key>mp</key>
				<integer>200</integer>
				<key>price</key>
				<integer>0</integer>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
