<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flaghp</key>
	<dict>
		<key>0</key>
		<dict>
			<key>price</key>
			<integer>5000</integer>
			<key>hp</key>
			<integer>100</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>1</key>
		<dict>
			<key>price</key>
			<integer>10000</integer>
			<key>hp</key>
			<integer>150</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>2</key>
		<dict>
			<key>price</key>
			<integer>15000</integer>
			<key>hp</key>
			<integer>200</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>3</key>
		<dict>
			<key>price</key>
			<integer>20000</integer>
			<key>hp</key>
			<integer>250</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>4</key>
		<dict>
			<key>price</key>
			<integer>25000</integer>
			<key>hp</key>
			<integer>300</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>5</key>
		<dict>
			<key>price</key>
			<integer>30000</integer>
			<key>hp</key>
			<integer>350</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>6</key>
		<dict>
			<key>price</key>
			<integer>35000</integer>
			<key>hp</key>
			<integer>400</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>7</key>
		<dict>
			<key>price</key>
			<integer>40000</integer>
			<key>hp</key>
			<integer>450</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
		<key>8</key>
		<dict>
			<key>price</key>
			<integer>45000</integer>
			<key>hp</key>
			<integer>500</integer>
			<key>spritename</key>
			<string>flag.png</string>
		</dict>
	</dict>
	<key>userattack</key>
	<dict>
		<key>0</key>
		<dict>
			<key>damage</key>
			<integer>1</integer>
			<key>price</key>
			<integer>1000</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>damage</key>
			<integer>2</integer>
			<key>price</key>
			<integer>1500</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>damage</key>
			<integer>3</integer>
			<key>price</key>
			<integer>2000</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>damage</key>
			<integer>4</integer>
			<key>price</key>
			<integer>2500</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>damage</key>
			<integer>5</integer>
			<key>price</key>
			<integer>3000</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>damage</key>
			<integer>6</integer>
			<key>price</key>
			<integer>3500</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>damage</key>
			<integer>7</integer>
			<key>price</key>
			<integer>4000</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>damage</key>
			<integer>8</integer>
			<key>price</key>
			<integer>4500</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>damage</key>
			<integer>9</integer>
			<key>price</key>
			<integer>5000</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>damage</key>
			<integer>10</integer>
			<key>price</key>
			<integer>5500</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>damage</key>
			<integer>11</integer>
			<key>price</key>
			<integer>6000</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>damage</key>
			<integer>12</integer>
			<key>price</key>
			<integer>6500</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>damage</key>
			<integer>13</integer>
			<key>price</key>
			<integer>7000</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>damage</key>
			<integer>14</integer>
			<key>price</key>
			<integer>7500</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>damage</key>
			<integer>15</integer>
			<key>price</key>
			<integer>8000</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>damage</key>
			<integer>16</integer>
			<key>price</key>
			<integer>8500</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>damage</key>
			<integer>17</integer>
			<key>price</key>
			<integer>9000</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>damage</key>
			<integer>18</integer>
			<key>price</key>
			<integer>9500</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>damage</key>
			<integer>19</integer>
			<key>price</key>
			<integer>10000</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>damage</key>
			<integer>20</integer>
			<key>price</key>
			<integer>15000</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>damage</key>
			<integer>25</integer>
			<key>price</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>maxmp</key>
	<dict>
		<key>0</key>
		<dict>
			<key>mp</key>
			<integer>40</integer>
			<key>price</key>
			<integer>1000</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>mp</key>
			<integer>60</integer>
			<key>price</key>
			<integer>1500</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>mp</key>
			<integer>80</integer>
			<key>price</key>
			<integer>2000</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>mp</key>
			<integer>100</integer>
			<key>price</key>
			<integer>2500</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>mp</key>
			<integer>120</integer>
			<key>price</key>
			<integer>3000</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>mp</key>
			<integer>140</integer>
			<key>price</key>
			<integer>3500</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>mp</key>
			<integer>160</integer>
			<key>price</key>
			<integer>4000</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>mp</key>
			<integer>180</integer>
			<key>price</key>
			<integer>4500</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>mp</key>
			<integer>200</integer>
			<key>price</key>
			<integer>5000</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>mp</key>
			<integer>220</integer>
			<key>price</key>
			<integer>5500</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>mp</key>
			<integer>240</integer>
			<key>price</key>
			<integer>6000</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>mp</key>
			<integer>260</integer>
			<key>price</key>
			<integer>6500</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>mp</key>
			<integer>280</integer>
			<key>price</key>
			<integer>7000</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>mp</key>
			<integer>300</integer>
			<key>price</key>
			<integer>7500</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>mp</key>
			<integer>320</integer>
			<key>price</key>
			<integer>8000</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>mp</key>
			<integer>340</integer>
			<key>price</key>
			<integer>8500</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>mp</key>
			<integer>360</integer>
			<key>price</key>
			<integer>9000</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>mp</key>
			<integer>380</integer>
			<key>price</key>
			<integer>9500</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>mp</key>
			<integer>400</integer>
			<key>price</key>
			<integer>10000</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>mp</key>
			<integer>420</integer>
			<key>price</key>
			<integer>15000</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>mp</key>
			<integer>450</integer>
			<key>price</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>regenmp</key>
	<dict>
		<key>0</key>
		<dict>
			<key>regen</key>
			<integer>1</integer>
			<key>price</key>
			<integer>1000</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>regen</key>
			<integer>2</integer>
			<key>price</key>
			<integer>1500</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>regen</key>
			<integer>3</integer>
			<key>price</key>
			<integer>2000</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>regen</key>
			<integer>4</integer>
			<key>price</key>
			<integer>2500</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>regen</key>
			<integer>5</integer>
			<key>price</key>
			<integer>3000</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>regen</key>
			<integer>6</integer>
			<key>price</key>
			<integer>3500</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>regen</key>
			<integer>7</integer>
			<key>price</key>
			<integer>4000</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>regen</key>
			<integer>8</integer>
			<key>price</key>
			<integer>4500</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>regen</key>
			<integer>9</integer>
			<key>price</key>
			<integer>5000</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>regen</key>
			<integer>10</integer>
			<key>price</key>
			<integer>5500</integer>
		</dict>
		<key>10</key>
		<dict>
			<key>regen</key>
			<integer>11</integer>
			<key>price</key>
			<integer>6000</integer>
		</dict>
		<key>11</key>
		<dict>
			<key>regen</key>
			<integer>12</integer>
			<key>price</key>
			<integer>6500</integer>
		</dict>
		<key>12</key>
		<dict>
			<key>regen</key>
			<integer>13</integer>
			<key>price</key>
			<integer>7000</integer>
		</dict>
		<key>13</key>
		<dict>
			<key>regen</key>
			<integer>14</integer>
			<key>price</key>
			<integer>7500</integer>
		</dict>
		<key>14</key>
		<dict>
			<key>regen</key>
			<integer>15</integer>
			<key>price</key>
			<integer>8000</integer>
		</dict>
		<key>15</key>
		<dict>
			<key>regen</key>
			<integer>16</integer>
			<key>price</key>
			<integer>8500</integer>
		</dict>
		<key>16</key>
		<dict>
			<key>regen</key>
			<integer>17</integer>
			<key>price</key>
			<integer>9000</integer>
		</dict>
		<key>17</key>
		<dict>
			<key>regen</key>
			<integer>18</integer>
			<key>price</key>
			<integer>9500</integer>
		</dict>
		<key>18</key>
		<dict>
			<key>regen</key>
			<integer>19</integer>
			<key>price</key>
			<integer>10000</integer>
		</dict>
		<key>19</key>
		<dict>
			<key>regen</key>
			<integer>20</integer>
			<key>price</key>
			<integer>30000</integer>
		</dict>
		<key>20</key>
		<dict>
			<key>regen</key>
			<integer>30</integer>
			<key>price</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
