<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>korean</key>
	<string>독도
대한민국 경상북도 울릉군 울릉읍 독도리 1-96

지리적으로 독도는 우리 동해상에 울릉도로부터 87.4km 떨어져 있는 아름다운 섬이다.
일찍이 조선 초기에 관찬된 &apos;세종실록&apos; 지리지(1432년)에서는 
&quot;우산(독도), 무릉(울릉).. 두 섬은 서로 멀리 떨어져 있지 않아 풍일이 청명하면 바라볼수 있다&quot;고 하였다.
이를 증명하듯, 울릉도에서 날씨가 맑은 날에만 육안으로 보이는 섬은 독도가 유일하며, 
울릉도 주민들은 자연스럽게 울릉도의 부속도서로서 독도를 인식하고 있다.
그럼에도 불구하고, 일본은 1890년대부터 시작된 동북아에 대한 제국주의 침략과정에서 발생한
러, 일 전쟁(1904년 - 1905년) 시기에 무주지 선점 법리에 근거하여
&apos;시마네현 고시 제40호&apos;(1905년)로 독도를 침탈했다.
이러한 일본의 행위는 고대부터 대한제국에 이르기까지 오랜기간 동안 확립하여 온 독도에 대한
확고한 영유권을 침해하였다는 점에서,
어떠한 이유에서도 정당화될 수 없는 불법이며, 국제법적으로 아무런 효력이 없는 행위이다. 

독도는 역사적, 지리적, 국제법적으로 명백한 대한민국 고유영토이다.</string>
	<key>japanese</key>
	<string>獨島
大韓民国 慶尚北道 鬱陵郡 鬱陵邑 ドクドリ 1-96

鬱陵島から87.4km離れている獨島は、東海上の美しい島である。 
かつて朝鮮初期に官撰された『世宗実録』地理志(1432年)には、 「于山(獨島)・武陵(鬱陵)...二つの島は互いにそれほど離れておらず、 天気のいい日には眺めることができる」と書いてある。
それを裏付けるように、 鬱陵島から天気のいい日にしか肉眼で見られない島は、獨島が唯一であり、 鬱陵島の住民たちは自然に獨島が鬱陵島に属すると認識していた。
それにもかかわらず日本は、 1890年代から始まった東北アジアに対する帝国主義的侵略の過程で発生した 日露戦争(1904~1905年)の間、無主地の先占の法理に基いて 「島根県告示第40号」(1905年)により、獨島を侵奪した。 そのような日本の行為は、古代から大韓帝国に至るまで長期に亘って確立され ていた獨島に対する確固たる領有権への侵害に当ることから、 如何なる理由があっても正当化できない不法で、 尚且つ国際法的にも効力のない行為である。
獨島は歴史的、地理的かつ国際法的根拠から 明白に大韓民国固有の領土である。</string>
	<key>chinese</key>
	<string>独岛

地理上独岛是个位于我们东海上离郁陵岛87.4公里的美丽岛屿。 
早在朝鲜初期编撰的『世宗实录地理志』(1432年)就有“于山(独岛)、 武陵(郁陵)..本二岛,相距不远,风日清明,则可望见”这样的记录。 
由此可见在郁陵岛晴天时用肉眼可以望见的唯一岛屿就是独岛, 而郁陵岛的居民自然把独岛视为郁陵岛的附属岛屿。
虽然如此,日本从1890年代开始对东北亚的帝国主义侵略过程中 的日俄战争(1904-1905年)时期,就根据无主地先占, 通过「岛根县告示第40号」(1905年)对独岛进行掠夺行为。 
日本的行为是侵犯了从古代到大韩帝国以来确立下来的我国拥有 的对独岛的主权,该不法行为没有任何正当的理由, 在国际法上也毫无效力。

根据历史、地理及国际法, 独岛分明是我们的固有领土。</string>
	<key>english</key>
	<string>Dokdo
 1- 96, Dokdo-ri, Ulleung-eup, Ulleung-gun, Gyeongsangbuk-do [799-805] Republic of Korea

Geographically, Dokdo, the easternmost islands of Korea, are 87.4 km southeast of Ulleungdo in the East Sea.
According to Sejong sillok jiiriji, compiled on the instruction of the King in the early Joseon period, Usan(Dodkdo) and Mureung(Ulleungdo) are not far part and are visible form each other on a clear day. As if to prove this statement, Dokdo is indeed visible with the naked eye from Ulleungdo in clean weather. It is only natural that the residents in Ulleungdo have long since recognized Dokdo as islands belonging to Ulleungdo.
Nevertheless, Japan in the midst of the Russo-Japanese War(1904-1905), which had been triggered by Japan&apos;s imperialistic invasion scheme toward Northeast Asia since the 1890s, disseized Dokdo and incorporated the islands into the Shimane Prefecture by issuing he Shimane Prefecture Public Notice No.40(1905).
Japan&apos;s annexation of Dokdo constituted a violation of international law, and cannot be justified under any circumstances, for it is a clear infringement on the undeniable sovereignty of Korea over the islands from ancient times to the recent Empire of Korea.
More importantly, Japan&apos;s actions carry no legal validity under international law. 

The fact that Dokdo is an integral part of Korean territory is irrefutable i every aspect; historically, geographically and under international law.</string>
</dict>
</plist>
